body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Gris clair */
    color: #666; /* Gris */
}

/* Style pour l'en-tête */
header {
    background-color: #333; /* Gris foncé */
    color: #fff; /* Blanc */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    
}

header {
    display: flex;
    justify-content: space-between;
            align-items: center;
}


header {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    height: 60px;
}

.logo {
    display: flex;
}

/* Style pour le titre principal */
h1 {
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


img {
    object-fit: cover;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e9616c;
}


/* Style pour le contenu principal */
main {
    padding: 20px;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}






